<div>
  <div>
    <h1>
      My inbox
    </h1>
  </div>
</div>

<hr>

<% if current_user.id != nil %>

<div><h2> Messages as seller</hr></div>

<div>
  <div>

    <b>Item</b>: <%=@matching_item.name %>
    <form action="/send_message/<%= @matching_item.id %>" method="post" enctype="multipart/form-data">
      <div>
        <label for="message">
        </label>

        <textarea id="message" name="message" cols="50" rows="5"></textarea>
      </div>

      <button>
        <b>Send message</b>
      </button>
    </form>

  </div>
</div>

<div><h2> Messages as buyer</hr></div>

<% else %>

<div> Please <a href="/users/sign_in/">sign in</a> to view see your inbox.</div>

<% end %>
