<div>
  <div>
    <h1>
      Create a new listing
    </h1>
  </div>
</div>

<hr>

<div>
  <div>

    <form action="/create_listing" method="post" enctype="multipart/form-data">
      <div>
        <label for="category">
          Category
        </label>

        <input type="text" id="category" name="category">
      </div>

      <div>
        <label for="name">
          Name
        </label>

        <input type="text" id="name" name="name">
      </div>

      <div>
        <label for="description">
          Item description
        </label>

        <input type="text" id="description" name="description">
      </div>

      <div>
        <label for="Price">
          Selling price
        </label>

        <input type="text" id="price" name="price">
      </div>

      <div>
        <label for="picture_1">
          Upload listing cover picture
        </label>

        <input type="file" id="picture_1" name="picture_1">
      </div>

      <div>
        <label for="picture_2">
          Upload picture 2
        </label>

        <input type="file" id="picture_2" name="picture_2">
      </div>

      <div>
        <label for="picture_3">
          Upload picture 3
        </label>

        <input type="file" id="picture_3" name="picture_3">
      </div>

      <div>
        <label for="picture_4">
          Upload picture 4
        </label>

        <input type="file" id="picture_4" name="picture_4">
      </div>

      <div>
        <label for="picture_5">
          Upload picture 5
        </label>

        <input type="file" id="picture_5" name="picture_5">
      </div>

      <div>
        <label for="payment_method">
          Payment method
        </label>

        <input type="text" id="payment_method" name="payment_method">
      </div>

      <div>
        <label for="delivery_method">
          Delivery method
        </label>

        <input type="text" id="delivery_method" name="delivery_method">
      </div>

      <button>
        Create new listing
      </button>
    </form>

  </div>
</div>
